/* line 7, ../sass/about.sass */
h3 {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: RGB(51, 51, 51);
  margin-top: 90px;
}

/* line 13, ../sass/about.sass */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: RGB(51, 51, 51);
  margin: 15px 0 15px 0;
  text-transform: uppercase;
}

/* line 20, ../sass/about.sass */
.text-content {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: RGB(153, 153, 153);
}

/* line 24, ../sass/about.sass */
.about {
  text-align: center;
  padding-bottom: 100px;
}
/* line 27, ../sass/about.sass */
.about .about_pictures {
  margin: 90px 0 0 0;
}
/* line 29, ../sass/about.sass */
.about h4 {
  color: RGB(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}
/* line 36, ../sass/about.sass */
.about .text-content {
  text-align: left;
  margin-bottom: 20px;
}
/* line 39, ../sass/about.sass */
.about .blog_views {
  margin-top: 20px;
  text-align: left;
}
/* line 42, ../sass/about.sass */
.about .blog_views .text-content {
  font-style: italic;
  margin-right: 10px;
}
/* line 45, ../sass/about.sass */
.about .blog_views .about_pic {
  display: inline-block;
}
/* line 47, ../sass/about.sass */
.about .blog_item {
  position: relative;
}
/* line 49, ../sass/about.sass */
.about .blog_item .blog_item_data {
  position: absolute;
  top: 60%;
  /*bottom: 0 */
  left: -5%;
  /*right: 0 */
  z-index: 2;
  background: #95e1d3;
}
/* line 57, ../sass/about.sass */
.about .blog_item .blog_item_data h1 {
  color: RGB(255, 255, 255);
  margin: 5px 10px 0 10px;
}
/* line 60, ../sass/about.sass */
.about .blog_item .blog_item_data .text-content {
  font-style: italic;
  color: RGB(255, 255, 255);
  text-align: center;
  margin-bottom: 5px;
}

/* line 65, ../sass/about.sass */
.gradient {
  position: relative;
  padding: 10px;
}
/* line 69, ../sass/about.sass */
.gradient .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
/* line 76, ../sass/about.sass */
.gradient .inner .btn-group {
  visibility: hidden;
}
/* line 78, ../sass/about.sass */
.gradient .inner h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: RGB(255, 255, 255);
  text-transform: uppercase;
  visibility: hidden;
}
/* line 86, ../sass/about.sass */
.gradient .inner .img_hover {
  margin-top: 25%;
  visibility: hidden;
}
/* line 89, ../sass/about.sass */
.gradient .inner:hover {
  background: -moz-linear-gradient(top, rgba(229, 127, 126, 0.6) 0%, rgba(233, 210, 131, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229, 127, 126, 0.6)), color-stop(100%, rgba(233, 210, 131, 0.6)));
  background: -webkit-linear-gradient(top, rgba(229, 127, 126, 0.6) 0%, rgba(233, 210, 131, 0.6) 100%);
  background: -o-linear-gradient(top, rgba(229, 127, 126, 0.6) 0%, rgba(233, 210, 131, 0.6) 100%);
  background: -ms-linear-gradient(top, rgba(229, 127, 126, 0.6) 0%, rgba(233, 210, 131, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(229, 127, 126, 0.6) 0%, rgba(233, 210, 131, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e57f7e', endColorstr='#e9d283',GradientType=0 );
  box-shadow: 10px 10px rgba(149, 225, 211, 0.7);
}
/* line 98, ../sass/about.sass */
.gradient .inner:hover .btn-group {
  visibility: visible;
}
/* line 100, ../sass/about.sass */
.gradient .inner:hover h5 {
  visibility: visible;
}
/* line 102, ../sass/about.sass */
.gradient .inner:hover .img_hover {
  visibility: visible;
}
/* line 105, ../sass/about.sass */
.gradient .about_picture {
  margin: 0px;
}
/* line 109, ../sass/about.sass */
.gradient .btn-default {
  color: #f38181;
  background-color: #fce38a;
  border-color: #f9bd87;
}
/* line 114, ../sass/about.sass */
.gradient .btn-default:hover {
  color: white;
  background-color: #f38181;
  border-color: #f38181;
}
/* line 118, ../sass/about.sass */
.gradient .btn-group {
  margin-top: 60%;
}

/* line 121, ../sass/about.sass */
.about_blue {
  background: #95e1d3;
  padding: 0 0 50px 0;
}
/* line 126, ../sass/about.sass */
.about_blue h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
/* line 133, ../sass/about.sass */
.about_blue h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

/* line 139, ../sass/about.sass */
.work_picture {
  padding: 0;
}

@media screen and (max-width: 768px) {
  /* line 143, ../sass/about.sass */
  .about {
    padding-bottom: 30px;
  }

  /* line 145, ../sass/about.sass */
  .about_blue {
    padding: 10px 0 0 0;
  }
  /* line 147, ../sass/about.sass */
  .about_blue h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
  }
  /* line 155, ../sass/about.sass */
  .about_blue h4 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
  }

  /* line 161, ../sass/about.sass */
  h3 {
    margin-top: 30px;
    font-size: 18px;
  }

  /* line 164, ../sass/about.sass */
  h1 {
    font-size: 24px;
  }
}
