/* line 1, ../sass/jondoe.sass */
.JonDoe {
  background: #f8f8f8;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: RGB(153, 153, 153);
  font-style: italic;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* line 9, ../sass/jondoe.sass */
.JonDoe .media {
  margin: 10px 0 0 0;
}
/* line 11, ../sass/jondoe.sass */
.JonDoe .media .media-left {
  vertical-align: middle;
}
/* line 13, ../sass/jondoe.sass */
.JonDoe .media h3 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  /* line 16, ../sass/jondoe.sass */
  .JonDoe {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
  }

  /* line 21, ../sass/jondoe.sass */
  .media .media-body {
    padding-top: 10px;
  }
}
