/* line 4, ../sass/main.sass */
html {
  width: 100%;
}

/* line 6, ../sass/main.sass */
.main_bg {
  width: 100%;
  height: 1000px;
  background: url(../img/main_bg.png) no-repeat;
  position: relative;
}

/* line 12, ../sass/main.sass */
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
}

/* line 19, ../sass/main.sass */
.slogan1 {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  color: white;
  margin-top: 100px;
  text-align: center;
}

/* line 26, ../sass/main.sass */
.slogan2 {
  margin-bottom: 80px;
}

/* line 29, ../sass/main.sass */
.text-slogan2 {
  font-family: "Montserrat", sans-serif;
  font-size: 130px;
  font-weight: bold;
  color: white;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: center;
  height: 100px;
}

/* line 39, ../sass/main.sass */
.rectangle {
  text-align: center;
  margin: 30px 0 30px 0;
}

/* line 43, ../sass/main.sass */
.btn-mogo {
  text-align: center;
}
/* line 45, ../sass/main.sass */
.btn-mogo button {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid white;
  border-color: white;
  padding: 15px 34px;
  margin: 0 0 30px 0;
}

@media screen and (max-width: 768px) {
  /* line 59, ../sass/main.sass */
  .main_bg {
    height: 100%;
    background: -moz-linear-gradient(top, #e98282 0%, #f0d98a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e98282), color-stop(100%, #f0d98a));
    background: -webkit-linear-gradient(top, #e98282 0%, #f0d98a 100%);
    background: -o-linear-gradient(top, #e98282 0%, #f0d98a 100%);
    background: -ms-linear-gradient(top, #e98282 0%, #f0d98a 100%);
    background: linear-gradient(to bottom, #e98282 0%, #f0d98a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e57f7e', endColorstr='#e9d283',GradientType=0 );
  }

  /* line 68, ../sass/main.sass */
  .slogan1 {
    font-size: 36px;
    margin-top: 50px;
  }

  /* line 71, ../sass/main.sass */
  .text-slogan2 {
    font-size: 72px;
    margin-top: 0;
    height: auto;
  }

  /* line 75, ../sass/main.sass */
  .rectangle {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 78, ../sass/main.sass */
  .slogan1 {
    font-size: 24px;
  }

  /* line 80, ../sass/main.sass */
  .text-slogan2 {
    font-size: 48px;
  }
}
