/* line 1, ../sass/unique_design.sass */
.unique_design {
  text-align: center;
  background: url(../img/uniquedesign_bg.png) no-repeat;
}

/* line 5, ../sass/unique_design.sass */
.img_unique_design {
  position: relative;
  display: inline-block;
}

/* line 9, ../sass/unique_design.sass */
.img_item_unique_design_white {
  position: absolute;
  top: 196px;
  right: -160px;
}
